body {
    margin: 0;
}

.content-container {
    width: 1100px;
    margin: 0 auto;
}

.section {
    text-align: center;
    height: 100vh;
}

.section--first {
    background: url(./Image/section-first-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    display: flex;
}

.section__header {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding-top: 70px;
    padding-bottom: 20px;
}

.menu-list {
    font-size: 14px;
    height: 46px;
}

.menu-list__items {
    list-style: none; 
    padding-left: 0;
    display: flex;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    align-items: center;
}

.menu-list__item {
    flex-basis: 25%;
    padding: 23px;
}

.menu-list__item:nth-child(2) {
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
}

.menu-list__item:nth-child(3) {
    border-right: 1px solid rgb(255, 255, 255);
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60%;
    padding-bottom: 150px;
}

.search-form__button {
    background: rgb(153, 132, 49);
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin: 15px;
}

.content-container__wrapper {
    border: 3px solid rgb(196, 196, 196);
    padding: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.section-title {
    font-family: 'Playfair Display';
    font-size: 36px;
    color: rgb(255, 255, 255);
}

.border-test {
    width: 160px;
    height: 0px;
    margin: auto;
    border: 1px solid rgb(255, 255, 255);
}

.section-text {
    padding-top: 40px;
    padding-bottom: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
}

.section--second-text {
    padding-left: 190px;
    padding-right: 190px;
}


.section--second {
    background: rgb(40, 40, 40);
    display: flex;
    justify-content: space-around;
    width: auto;
    height: auto;
}

.section--third {
    background: rgb(230, 227, 196);
}

.section--fourth {
    background: rgb(40, 40, 40);
    display: flex;
}

.footer {
    background: rgb(153, 132, 49);
}