body {
    margin: 0;
    line-height: 21px;
}

.content-container {
    width: 1100px;
    margin: 0 auto;
}

.section {
    text-align: center;
    height: 100vh;
}

.section--first {
    background: url(./Image/section-first-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    display: flex;
}

.section__header {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding-top: 70px;
    padding-bottom: 20px;
}

.menu-list {
    font-size: 14px;
    height: 46px;
}

.menu-list__items {
    list-style: none; 
    padding-left: 0;
    display: flex;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    align-items: center;
}

.menu-list__item {
    flex-basis: 25%;
    padding: 23px;
}

.menu-list__item:nth-child(2) {
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
}

.menu-list__item:nth-child(3) {
    border-right: 1px solid rgb(255, 255, 255);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60%;
    padding-bottom: 150px;
}

.controls-button {
    background: rgb(153, 132, 49);
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin: 15px;
}

.content-container__wrapper {
    border: 3px solid rgb(196, 196, 196);
    padding-top: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-title {
    font-family: 'Playfair Display';
    font-size: 36px;
    color: rgb(255, 255, 255);
}

.section--second-title {
    width: 900px;
    margin: 0 auto;
}

.border-line {
    width: 160px;
    margin: auto;
    border-top: 1px solid rgb(255, 255, 255);
    margin-top: 40px;
    margin-bottom: 40px;
}

.section-text {
    padding-bottom: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
}

.section--second-text {
    width: 733px;
    margin: 0 auto;
}

.section-img {
    padding-top: 50px;
    padding-bottom: 60px;
}

.section--second {
    background: rgb(40, 40, 40);
    display: flex;
    height: auto;
}

.section--third {
    background: rgb(230, 227, 196);
    display: flex;
    height: auto;
}

.content-container__wrapper--section-third {
    border-top: 1px solid rgb(153, 132, 49);
    border-bottom:1px solid rgb(153, 132, 49);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
}

.aside-content {
    margin-top: 60px;
    margin-bottom: 60px;
}

.aside-content:nth-child(1)  {
    padding-right: 125px;
    text-align: left;
}

.controls-button__section-third {
    margin-top: 15px;
    margin-left: 0;
}

.aside-content__under-img {
    display: flex;
    margin-top: 30px;
}

.aside-content__img:nth-child(2)  {
    padding-left: 30px;
}

.border-line--section-third {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid rgb(40, 40, 40);
    margin-left: 0;
}

.section-third-text {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Montserrat';
    font-size: 14px;
    color: rgb(40, 40, 40);
    width: 445px;
}

.section-third-text:nth-child(1)  {
    margin-top: 0;
}

.section-third-text:nth-child(2)  {
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 30px;
}

.section-third-text:nth-child(5) {
    display: flex;
}

.text-list__items {
    list-style: none;
    padding-left: 0;
}

.text-list__item-left {
    border-right: 1px solid rgb(40, 40, 40);
    width: 75px;
    padding-top: 31px;
    padding-bottom: 26px;
    text-align: center;
    border-bottom: 1px solid rgb(40, 40, 40);
}

.text-list__item-right {
    width: 378px;
    height: 53px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 30px;
    border-bottom: 1px solid rgb(40, 40, 40);
}

.text-list__item-left:nth-child(3) {
    border-bottom: none;
}

.text-list__item-right:nth-child(3) {
    border-bottom: none;
}

.subtitle-text {
    font-family: 'Playfair Display';
    font-size: 18px;
    line-height: 27px;
}

.section--fourth {
    background: rgb(40, 40, 40);
    display: flex;
    height: auto;
}

.content-container__wrapper--section-fourth {
    position: relative;
    padding-top: 30px;
}

.section--fourth-title {
    position: absolute;
    top: 90px;
    left: 300px;
    width: 490px;
    background-color: rgb(40, 40, 40);;
}

.section-fourth-img:nth-child(2) {
    position: absolute;
    left: -30px;
    top: 60px;
}

.section-fourth-img:nth-child(3) {
    position: absolute;
    left: 903px;
    top: 64px;
}

.input-list__items {
    margin: 0 auto;
    padding-left: 0;
    width: 520px;
    text-align: left;
    list-style: none;
}

.input-list__item {
    flex-basis: 50%;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 40px;
    font-size: 13px;
    font-family: 'Montserrat';
    padding-bottom: 10px;
}

.input-list__item:nth-child(1) {
    margin-right: 30px;
}

.input-name {
    display: flex;
}

.input-items__controls-button {
    margin-bottom: 85px;
    background: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 205px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.section--fourth-text {
    width: 539px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 80px;
}

.input-list__item--style  {
    background-color: rgb(40, 40, 40);
    border: none;
    color: rgb(255, 255, 255);
    width: 240px;
} 

.footer {
    background: rgb(153, 132, 49);
    text-align: center;
    min-height: auto;
}