 body {
    font-size: 20px;
    text-align: center;
}

.header {
   border: 2px solid red;
   background-color: rgb(250, 246, 198);
   display: flex;
   height: 100px;
   justify-content: space-between;
}

.header__title {
    height: 80px;      
    width: 200px;
    align-self: center;
}

.header__logo {
    border: 2px solid red;
    background-color: rgb(71, 144, 255);
    align-self: center;      
    height: 80px;
    width: 30%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 10px;
}   

.header__right-block {
    height: 80px;
    width: 30%;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.header__info {
    border: 2px solid red;
    background-color: yellow;
    height: 80px;
    margin: 10px;
}

.header__authorization {
    border: 2px solid red; 
    background-color: greenyellow;
    height: 80px;
    margin: 10px;
}

.top-menu {
    border: 2px solid red;
    margin: 3px;
}

.left-block {
    border: 2px solid red;
    margin: 3px;
}

.center-block {
    border: 2px solid red;
    margin: 3px;
}

.right-block {
    border: 2px solid red;
    margin: 3px;
}

.footer {
    border: 2px solid red;
    margin: 3px;
}

.under-menu {
    border: 2px solid red;
    margin: 3px;
}

